// ==========================================
// Arquivo de configuracoes do Servidor.
// Tenha cuidado ao modificar qualquer opcao.
// by .:: BRUXOS.GAMES ::.
// Melhor config para o seu servidor!
// ==========================================
//
// - HOSTNAME
hostname "-S!c'kS | #4FUN | - #TOP10 [VIP] @BRXGames"

// - PW
sv_password ""

// - RCON
rcon_password "ftyyirhh45"

// - FAST DOWNLOAD
sv_allow_dlfile 1
sv_allowdownload "1"
sv_downloadurl "http://131.196.198.56:8080/CURUJAOCS" //COLOQUEI AQUI SEU LINK FAST DOWNLOAD
sv_allowupload "0" // bloqueia spray personalizado

sv_rcon_banpenalty "120"
sv_rcon_maxfailures "5"
sv_rcon_minfailures "3"
sv_rcon_minfailuretime "30"

////Rates (recomendadas)
// RATES CONFIG

sv_maxrate 100000
sv_minrate 90000
sv_maxupdaterate 102
sv_minupdaterate 101
max_shells 0
r_decals 0
mp_decals 0

// Algumas configura��es do jogo
mp_autokick "0"
mp_autoteambalance "2"
mp_consistency "1"
mp_c4timer "35"
mp_freezetime "0"
mp_hostagepenalty "0"
mp_timelimit "0"
mp_flashlight 0
//// Cvars para os Rounds\
mp_buytime 0.20
mp_fadetoblack 0
mp_forcecamera 0
mp_forcechasecam 0
mp_fraglimit 0
mp_freezetime 0
mp_friendlyfire 0
mp_playerid 0
mp_roundtime 1.75
mp_startmoney 16000
mp_winlimit 0
mp_playerid "1"
mp_chattime "1" // Tempo em segundos em que os jogadores podem conversar ap�s a mudan�a ou fim do mapa.


// Algumas configura��es do server
sv_region "255"
sv_gravity "800"
sv_proxies "0"
sv_airaccelerate "10"
sv_accelerate "10"
sv_maxspeed "900"
sv_alltalk "0"
sv_voicecodec "voice_speex"
sv_voiceenable "1"
sv_voicequality "5"
sv_cheats "0"
sv_contact "BRXGames"
sv_unlag "1"
sv_maxunlag "0.5"
sv_unlagsamples "1"
sv_filetransfercompression "0" // evita criar arquivos temporarios (*.ztmp)

// Outros
hpk_maxsize "0"
sys_ticrate "500"
fps_max "0"
sv_zmax "50000" // deixa a vis�o do mapa completo.
mapchangecfgfile "server.cfg"


//Plugin Anti-ping 
;amx_hpk_check 4
;amx_hpk_delay 5
;amx_hpk_tests 3
;amx_hpk_ping 200

// EXECUTAR
exec banned.cfg 
exec reunion.cfg

//Configs Adicionais
;exec setmaster.cfg

// Arquivos executaveis
exec listip.cfg
exec banlist.cfg

// SERVER LOGS
log off
sv_logbans 1 
sv_logecho 0 
sv_logfile 0 
sv_log_onefile 0
rch_log 1
sv_send_logos "0"
hpk_maxsize "0.1"

// Outros
clockwindow "0.1"


syserror_logfile
sv_rehlds_movecmdrate_max_avg 99999
sv_rehlds_movecmdrate_max_burst 99999
sv_rehlds_stringcmdrate_max_avg 99999
sv_rehlds_stringcmdrate_max_burst 9999
sv_rehlds_stringcmdrate_burst_punish -1
sv_rehlds_stringcmdrate_avg_punish -1
sv_rehlds_movecmdrate_burst_punish -1
sv_rehlds_movecmdrate_avg_punish -1



